.banner {
    /* background: url('../img/fon.jpg') #E9EDEE no-repeat center bottom; */
    background-image: url('../img/fon.jpg');
    background-color: #E9EDEE;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.banner__title {
    font-weight: 900;
    font-size: 90px;
    line-height: 100%;
    color: #00559D;
}

.services__heading {
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    color: #00559D;
    text-align: center;
}

.about__heading {
    font-weight: 900;
    font-size: 72px;
    line-height: 100%;
    color: #005DAB;
    margin: 0;
}
